noname-arena {
    @include layer;
	@include transit;

    > noname-zoom {
        transition: opacity var(--app-transition);
        pointer-events: none;

        > * {
            pointer-events: auto;
        }
        
        > noname-players {
            @include layer;
            > noname-player {
                position: absolute;
            }   
        }

        &.blurred > noname-players > noname-player.mine > noname-content > noname-timer {
            visibility: hidden;
        }
    }

    > noname-zoom > noname-pop {
        @include layer;
        @include widget;
        z-index: 20;
        overflow: hidden;

        > noname-pane {
            > noname-gallery noname-item {
                width: var(--pop-width);
                aspect-ratio: 1 / var(--player-ratio);
                
                > noname-player {
                    > noname-background, > noname-content {
                        width:  var(--player-width);
                        height: auto;
                        aspect-ratio: 1 / var(--player-ratio);
                        transform: scale(var(--pop-scale));
                        transform-origin: top left;
                    }
                }
            }

            > noname-bar {
                margin: 12px 0 14px 0;
            }

            > noname-caption {
                margin: 14px 0 12px 0;
            }
        }

        > noname-timer {
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            background: var(--pop-timer-background);

            > noname-div {
                background: var(--pop-timer-bar-background);
            }
        }
    }
}