noname-button {
	width: 52px;
	height: 52px;
	position: relative;
	display: inline-block;
	cursor: pointer;

	&.disabled {
		cursor: default;
		pointer-events: none;
	}

	// input.down feedback
	&.clickdown {
		transform: scale(0.98)
	}

	// fix text rendereing problem in transition
	backface-visibility: hidden;

	// background circle image
	> noname-background {
		border-radius: var(--button-radius);
		box-shadow: var(--button-shadow);
		background: var(--button-background) center/cover;
		// center colored round image
		> noname-image {
			@include layer;
			opacity: var(--button-image-opacity);
			transition: opacity var(--app-transition-fast);
			background-size: cover;

			// fix text rendereing problem in transition
			transform: translateZ(0px);
		}
	}

	// hover effect of background image
	&:hover > noname-background > noname-image {
		opacity: 1;
	}

	// caption text
	> noname-content > noname-caption {
		font-size: 38px;
		font-family: var(--button-font);
		position: absolute;
		&:first-child {
			left: -5px;
			top: -5px;
		}
		&:last-child {
			bottom: -5px;
			right: -5px;
		}
	}
}