// shadow of text
[data-shadow="blue"] {
	text-shadow: rgba(78, 117, 140,1) 0 0 2px,rgba(78, 117, 140,1) 0 0 2px,rgba(78, 117, 140,1) 0 0 2px, rgba(78, 117, 140,1) 0 0 2px,black 0 0 1px;
}
[data-shadow="red"] {
	text-shadow: black 0 0 1px,rgba(191, 0, 0,0.2) 0 0 2px,rgba(191, 0, 0,1) 0 0 2px,rgba(191, 0, 0,1) 0 0 2px,rgba(191, 0, 0,1) 0 0 2px, black 0 0 1px;
}
[data-shadow="yellow"] {
	text-shadow: black 0 0 1px,rgba(255, 203, 0,1) 0 0 2px,rgba(255, 203, 0,1) 0 0 2px,rgba(255, 203, 0,1) 0 0 2px, rgba(255, 203, 0,1) 0 0 2px,black 0 0 1px;
}
[data-shadow="green"] {
	text-shadow: rgba(57, 123, 4,1) 0 0 2px,rgba(57, 123, 4,1) 0 0 2px,rgba(57, 123, 4,1) 0 0 2px, rgba(57, 123, 4,1) 0 0 2px,black 0 0 1px;
}
[data-shadow="brown"] {
	text-shadow: rgba(128, 59, 2,1) 0 0 2px,rgba(128, 59, 2,1) 0 0 2px,rgba(128, 59, 2,1) 0 0 2px, rgba(128, 59, 2,1) 0 0 2px,black 0 0 1px;
}
[data-shadow="purple"] {
	text-shadow: rgba(100, 74, 139,1) 0 0 2px,rgba(100, 74, 139,1) 0 0 2px,rgba(100, 74, 139,1) 0 0 2px, rgba(100, 74, 139,1) 0 0 2px,black 0 0 1px;
}

// glow of text (similar to shadow, but stronger)
[data-glow="blue"] {
	text-shadow: rgba(78, 117, 140,1) 0 0 2px,rgba(78, 117, 140,1) 0 0 5px,rgba(78, 117, 140,1) 0 0 10px, rgba(78, 117, 140,1) 0 0 10px,rgba(78, 117, 140,1) 0 0 20px,rgba(78, 117, 140,1) 0 0 20px,black 0 0 1px;
}
[data-glow="red"] {
	text-shadow: black 0 0 1px,rgba(232, 53, 53,1) 0 0 2px,rgba(232, 53, 53,1) 0 0 5px,rgba(232, 53, 53,1) 0 0 10px, rgba(232, 53, 53,1) 0 0 10px,rgba(232, 53, 53,1) 0 0 20px,rgba(232, 53, 53,1) 0 0 20px;
}
[data-glow="yellow"] {
	text-shadow: black 0 0 1px,rgba(255, 203, 0,1) 0 0 2px,rgba(255, 203, 0,1) 0 0 5px,rgba(255, 203, 0,1) 0 0 10px, rgba(255, 203, 0,1) 0 0 10px;
}
[data-glow="green"] {
	text-shadow: rgba(57, 123, 4,1) 0 0 2px,rgba(57, 123, 4,1) 0 0 5px,rgba(57, 123, 4,1) 0 0 10px, rgba(57, 123, 4,1) 0 0 10px,rgba(57, 123, 4,1) 0 0 20px,rgba(57, 123, 4,1) 0 0 20px,black 0 0 1px;
}
[data-glow="brown"] {
	text-shadow: rgba(128, 59, 2,1) 0 0 2px,rgba(128, 59, 2,1) 0 0 5px,rgba(128, 59, 2,1) 0 0 10px, rgba(128, 59, 2,1) 0 0 10px,rgba(128, 59, 2,1) 0 0 20px,rgba(128, 59, 2,1) 0 0 20px,black 0 0 1px;
}
[data-glow="purple"] {
	text-shadow: rgba(100, 74, 139,1) 0 0 2px,rgba(100, 74, 139,1) 0 0 5px,rgba(100, 74, 139,1) 0 0 10px,rgba(100, 74, 139,1) 0 0 10px,rgba(100, 74, 139,1) 0 0 20px,rgba(100, 74, 139,1) 0 0 20px,black 0 0 1px;
}

// color of text
[data-color="blue"] {
	color: rgb(117, 186, 255);
}
[data-color="red"] {
	color: rgb(242, 37, 0);
}
[data-color="orange"] {
	color: rgb(255, 119, 63);
}
[data-color="yellow"] {
	color: rgb(255, 239, 105);
}
[data-color="green"] {
	color: rgb(104, 221, 127);
}
[data-color="brown"] {
	color: rgb(180, 150, 85);
}
[data-color="purple"] {
	color: rgb(233, 131, 255);
}
[data-color="darkred"] {
	color: rgb(128, 0, 0);
}
[data-color="honey"] {
	color: rgb(235, 175, 76);
}
[data-color="peach"] {
	color: rgb(255, 170, 170);
}
[data-color="black"] {
	color: rgb(0, 0, 0);
}

// color of background
[data-fill="red"] {
	background: var(--fill-red);
}
[data-fill="blue"] {
	background: var(--fill-blue);
}
[data-fill="green"] {
	background: var(--fill-green);
}
[data-fill="cyan"] {
	background: var(--fill-cyan);
}
[data-fill="yellow"] {
	background: var(--fill-yellow);
}
[data-fill="gray"] {
	background: var(--fill-gray);
}