html, body {
	@include layer;
	overflow: hidden;
	overscroll-behavior: none; // disable two finger back gesture in chrome
	background-color: #3c3c3c;
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent; // no highlight when tappin on element
}

noname-background, noname-content, noname-layer {
	@include layer;
}

noname-caption {
	font-family: var(--app-caption-font);
}

noname-image.avatar {
	background-position: var(--widget-avatar-position) !important;
}

.hidden {
	opacity: 0 !important;
}

.hidden, .hidden * {
	pointer-events: none !important;
}

.exclude {
	pointer-events: none !important;
}

.blurred:not(.hidden) {
	opacity: var(--app-blurred-opacity) !important;
}

.defer:not(.hidden) {
	opacity: var(--app-defer-opacity) !important;
}

.movedown {
	transition: none !important;
}

.scrollx {
	overflow-x: scroll;
	overflow-y: hidden;

	// hide scrollbar in firefox
	scrollbar-width: none;
}

.scrolly {
	overflow-x: hidden;
	overflow-y: scroll;

	// hide scrollbar in firefox
	scrollbar-width: none;
}

.mono {
	font-family: ui-monospace, monospace;
}

::-webkit-scrollbar {
	display: none
}
