noname-input {
    position: relative;
    display: block;
    height: 27px;
    border-radius: var(--widget-radius-sharp);
    background: var(--widget-background-popup);
    box-shadow: var(--widget-shadow);

    > input {
        position: absolute;
		display: block;
        color: white;
        line-height: 26px;
        font-size: 18px;
        outline: none;
        border: none;
        top: 1px;
        left: 3px;
        width: calc(100% - 6px);
        height: 25px;
        background: none;
        box-shadow: none;
        padding: 0;

        &:disabled {
            opacity: 1;
            pointer-events: none;
        }
	}

    // icon in the text box
    > noname-icon {
        position: absolute;
        width: 50px;
        height: 37px;
        left: calc(100% - 42px);
        top: -5px;
        background-size: 17px 17px;
        background-repeat: no-repeat;
        background-position: 21px 10px;
        opacity: 0;
        pointer-events: none;
        transition: opacity var(--app-transition-fast);
    }

    &.with-icon {
        > input {
            width: calc(100% - 30px);
        }
        > noname-icon {
            opacity: 0.5;
            pointer-events: all;
        }
    }
}