noname-pane {
	@include layer;
	
    &:not(.scrolly) {
        overflow: hidden;
    }

	// section title, gallery container, button container and toggle container
	> noname-section, > noname-gallery, > noname-bar, > noname-group, > noname-text {
		display: block;
		position: relative;
		margin: 10px 0 10px 0;
		width: 100%;
	}

	// section container
	> noname-section {
		text-align: center;

		// section text
		> noname-span {
			position: relative;
			display: inline-block;
			font-size: 12px;
			width: 90px;
			height: 18px;
			text-align: center;
			line-height: 17px;
			background: var(--section-background);
			border-radius: var(--section-radius);
			box-shadow: var(--section-shadow);
		}
	}

	// gallery
	> noname-gallery {
		white-space: normal;

		> noname-player {
			width: 120px;
			height: 168px;

			> noname-content {
				> noname-caption {
					left: 5px;
					top: 8px;
				}
	
				> noname-label {
					top: 3px;
					right: 3px;
				}
	
				> noname-hp {
					bottom: 8px;
					right: 5px;
				}
			}
		}
	}
	
	// button container
	> noname-bar {
		text-align: center;
		margin: 16px 0 14px 0;
	}

	// tray of movable items
	> noname-tray.round {
		margin: 14px 0 18px 0;
		text-align: center;
		border: var(--pop-border);
		border-radius: var(--widget-radius);
		width: calc(100% - 36px);
		height: var(--pop-tray-height);
		left: 16px;
		display: block;
		position: relative;

		> noname-widget {
			cursor: pointer;
			width: calc(var(--pop-tray-height) - 8px);
			height: calc(var(--pop-tray-height) - 8px);
			border-radius: 100%;
			position: absolute;
			top: 4px;
			left: 0;
			@include transit;

			&.avatar {
				background-position: var(--widget-avatar-position) !important;
			}

			&.movedown {
				z-index: 10000 !important;
			}
		}
	}

	// caption
	> noname-caption {
		width: 100%;
		text-align: center;
		font-size: 24px;
		display: block;
		margin-top: 8px;
		margin-bottom: -8px;

		&:last-child {
			margin-bottom: 8px;
		}

		&.large {
			margin-top: 12px;
			margin-bottom: -4px;
			font-size: 30px;
		}

		> noname-widget.toggle {
			@include widget-sharp;
			position: absolute;
			font-family: var(--app-font);
			font-size: 14px;
			padding: 3px 5px 3px 5px;
			right: 18px;
			cursor: pointer;
		}
	}

	// text
	> noname-text {
		width: calc(100% - 20px);
		padding: 5px 10px 5px 10px;

		> noname-span {
			position: relative;
			white-space: normal;
		}

		&.skill > noname-div {
			position: relative;
			display: inline-block;
			white-space: nowrap;
			vertical-align: top;
			left: -5px;

			&:last-child {
				white-space: normal;
				width: calc(100% - 60px);
			}
		}

		&:last-child {
			margin-bottom: 2px;
		}
	}
}