noname-popup.splash-hub > noname-pane {
    // nickname, avatar and address
    > noname-group {
        margin-top: 30px;
        height: 80px;

        > noname-widget {
            width:  80px;
            height: 80px;
            left: 40px;
            border-radius: 100%;
            position: absolute;

            > noname-image {
                border-radius: 100%;
            }
        }

        > noname-span {
            position: absolute;
            left: 140px;
            height: 27px;
            line-height: 28px;
            font-size: 22px;
            font-family: var(--app-caption-font);
        }

        > noname-input {
            position: absolute;
            left: 197px;
            width: 40%;
        }

        > .nickname {
            top: 7px;
        }

        > .address {
            top: 47px;
        }
    }

    // caption text
    > noname-caption {
        text-align: center;
        height: 240px;
        line-height: 240px;
        font-size: 40px;
    }

    // room list
    > noname-rooms {
        height: calc(100% - 120px);
    }

    > noname-caption, > noname-rooms {
        position: absolute;
        top: 120px;
        display: block;
        width: 100%;
        transition: opacity var(--app-transition);
    }
}