noname-arena noname-zoom > noname-pop {
    @include layer;
    @include widget;
    z-index: 20;
    overflow: hidden;

    > noname-pane {
        > noname-gallery noname-item {
            width: var(--pop-width);
            aspect-ratio: 1 / var(--player-ratio);
            
            > noname-player {
                transition: opacity var(--app-transition);
                width:  var(--player-width);
                height: auto;
                transform: scale(var(--pop-scale));
                transform-origin: top left;

                &.selected {
                    opacity: var(--app-defer-opacity);
                }
            }
        }

        > noname-bar {
            margin: 12px 0 14px 0;

            &.tray {
                margin: 14px 0 18px 0;
                text-align: center;
                border: var(--pop-border);
                border-radius: var(--widget-radius);
                width: calc(100% - 36px);
                left: 16px;
    
                > noname-widget {
                    cursor: pointer;
                    width: calc(var(--pop-tray-height) - 8px);
                    height: calc(var(--pop-tray-height) - 8px);
                    border-radius: 100%;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    @include transit;

                    &.avatar {
                        background-position: var(--widget-avatar-position) !important;
                    }
                }
            }
        }

        > noname-caption {
            margin: 14px 0 12px 0;
        }
    }

    > noname-timer {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        background: var(--pop-timer-background);

        > noname-div {
            background: var(--pop-timer-bar-background);
        }
    }
}