noname-arena noname-zoom > noname-pop {
    @include layer;
    @include widget;
    z-index: 20;
    overflow: hidden;

    > noname-pane {
        > noname-bar {
            margin: 12px 0 14px 0;
        }

        > noname-caption {
            margin: 14px 0 12px 0;
        }
    }

    > noname-timer {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        background: var(--pop-timer-background);

        > noname-div {
            background: var(--pop-timer-bar-background);
        }
    }
}