noname-popup {
    @include layer;
    @include transit;
    z-index: 20;

    &.center {
        @include flex-center;
    }

    &.portrait > noname-pane {
        width: var(--popup-portrait-width);
        height: var(--popup-portrait-height);
    }

    &.landscape > noname-pane {
        width: var(--popup-landscape-width);
		height: var(--popup-landscape-height);
    }

    &.dialog {
        > noname-pane {
            width: var(--popup-dialog-width);
            height: auto;
        }

        &:not(.with-content) > noname-pane > noname-bar {
            margin: -8px 0 14px 0;
        }
    }

    > noname-pane {
        @include widget;
        background: var(--popup-background);

        &.menu {
            @include widget-sharp;
    
            padding-top: 3px;
            padding-bottom: 3px;
            transform-origin: top left;
            overflow: hidden;
            width: auto;
            height: auto;
    
            > noname-option {
                display: block;
                padding: 3px 10px 3px 10px;
                position: relative;
        
                &:hover {
                    background: var(--fill-blue);
                    box-shadow: var(--widget-image-shadow);
                }
            }
        }
    }
}