noname-popup.splash-hub > noname-pane {
    // nickname, avatar and address
    > noname-group {
        margin-top: 30px;
        height: 80px;

        > noname-widget {
            width:  80px;
            height: 80px;
            left: 40px;
            border-radius: 100%;
            position: absolute;

            > noname-image {
                border-radius: 100%;
                background-position: var(--widget-avatar-position) !important;
            }
        }

        > noname-span {
            position: absolute;
            left: 140px;
            height: 27px;
            line-height: 28px;
            font-size: 22px;
            font-family: var(--app-caption-font);
        }

        > noname-input {
            position: absolute;
            left: 197px;
            width: 40%;
        }

        > .nickname {
            top: 7px;
        }

        > .address {
            top: 47px;
        }
    }

    // caption text
    > noname-caption {
        top: 120px;
        text-align: center;
        height: 240px;
        line-height: 240px;
        font-size: 40px;
    }

    // room list
    > noname-rooms {
        top: 160px;
        height: calc(100% - 160px);

        &.entering {
            opacity: 0.8;
            pointer-events: none;
        }

        > noname-widget {
            height: 80px;
            cursor: pointer;
            position: relative;
            width: 80%;
            display: block;
            left: 10%;
            margin-bottom: 15px;
        
            &:first-child {
                margin-top: 10px;
            }
        
            // avatar of room host
            > noname-image {
                width: 72px;
                height: 72px;
                position: absolute;
                top: 4px;
                left: 4px;
                background-position: var(--widget-avatar-position) !important;
            }
        
            // name of room host
            > noname-caption {
                position: absolute;
                font-size: 35px;
                left: 85px;
                top: 6px;
            }
        
            // room state and nickname of host
            > noname-span {
                position: absolute;
                bottom: 6px;
                right: 9px;
        
                // status indicator
                > noname-status {
                    width: 12px;
                    height: 12px;
                    top: 1px;
                    margin-right: 1px;
                    position: relative;
                    display: inline-block;
                    border-radius: 100%;
                    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
        
                    // gaming
                    &[data-state="1"] {
                        background: #51af06;
                        border: 1px solid rgba(39, 79, 7, 1);
                    }
        
                    // waiting
                    &[data-state="0"] {
                        background: #d6b408;
                        border: 1px solid rgba(79, 64, 7, 1);
                    }
                }
        
                // nickname of host
                &.nickname {
                    right: auto;
                    left: 88px;
                    > noname-image {
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        position: relative;
                        top: 1px;
                        margin-right: 4px;
                        background: var(--icon-user) center/cover;
                    }
                }
            }
        }
    }

    > noname-caption, > noname-rooms {
        position: absolute;
        display: block;
        width: 100%;
        transition: opacity var(--app-transition);
    }

    // client number section
    > noname-section {
        margin-top: 20px;
        margin-bottom: 0;
        transition: opacity var(--app-transition);
    }
}